div.additional-inputs a:hover {

    color: #9370db;

}
div.additional-inputs a span {

    border-bottom: 1px dotted black;

}
div.additional-inputs[data-active="false"] p:not(.button) {

    display: none;

}
.main-section {

    position: relative;

    margin-top: 40px;

}
.main-section h1.main-h1 {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -56px;
    width: 100%;
    left: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}

a:link, a:visited {
    color: #000;
}

a:hover {
    color: mediumpurple;
}

a.btn {
    color: #f0f0f0;
}

a.btn-default {
    color: #202020;
}

.text-purple {
    color: mediumpurple;
}

.input-group select {
    border-radius: 0 5px 5px 0 !important;
}

.btn-purple {
    background: mediumpurple;
    color: #fff;
}

.btn-purple:hover {
    color: #e0e0e0;
}

.btn-purple-outline {
    background: transparent;
    border: 1px solid mediumpurple;
    color: mediumpurple !important;
}

.btn-purple-outline:hover {
    background: mediumpurple;
    border: 1px solid mediumpurple;
    color: #fff !important;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline:hover, .btn-outline:active {
    background: #fff;
}

.btn-mobile {
    display: none;
}

.input-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.input-outline::-webkit-input-placeholder {
    color: #fff;
}

.fa.fa-purple {
    color: mediumpurple;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

h2, h3, h4 {
    font-weight: 300;
}

.container {
    width: 1024px;
    padding: 0;
}

#notifications {
    width: 300px;
    bottom: 30px;
    left: 30px;
    position: fixed;
    z-index: 9999999;
}

#notifications .notify {
    background: #c0c0c0;
    width: 100%;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

#notifications .notify a {
    border-radius: 0;
    float: right;
}

#notifications .notify a:hover {
    color: mediumpurple;
}

#notifications .notify.notify-success {
    background: mediumpurple;
}

#notifications .notify.notify-danger {
    background: #d9534f;
}

.instagram .logo img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.instagram .name {
    text-transform: uppercase;
    color: mediumpurple;
    margin: 0;
}

.instagram .username {
    color: #a0a0a0;
    margin-bottom: 20px;
}

.instagram .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.instagram .followers {
    color: #c0c0c0;
    margin-bottom: 5px;
}

.instagram .info {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    list-style-type: none;
}

.instagram .info li {
    display: inline-block;
    margin-right: 20px;
    color: #656565;
    text-transform: uppercase;
}

header {
    background: #fff;
    width: 100%;
    font-size: 15px;
    margin-top: 50px;
}

header .fa {
    font-size: 18px;
}

header .row p:first-child {
    margin-top: 25px;
}

header > div {
    width: 1024px;
    padding: 10px 0;
    margin: 0 auto 0;
}

header .alert {
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0 !important;
}

nav {
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: background 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    margin-top: 10px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}

nav a:link, nav a:visited {
    text-transform: uppercase;
    display: inline-block;
}

nav a:hover {
    background: transparent !important;
}

nav li.dropdown:focus, header nav li.dropdown:active, header nav li.dropdown.open a {
    background: transparent !important;
}

nav li .dropdown-menu {
    background: #fff;
    display: none;
    width: 300px;
    border: 1px solid mediumpurple;
    border-radius: 0;
    padding: 0;
    position: absolute;
}

nav li .dropdown-menu li {
    display: block;
    padding: 0;
}

nav li .dropdown-menu li a {
    padding: 6px 10px;
}

nav li .dropdown-menu li a:hover {
    display: block;
    background: mediumpurple !important;
    color: #fff;
}

#cart {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#cart .cart-body {
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 50px 10px;
    position: fixed;
    right: -400px;
    opacity: 0;
}

#cart .cart-body h2 hr {
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#cart .cart-body h2 hr::after {
    background: #fff;
    display: inline-block;
    top: -17px;
    color: mediumpurple;
    font-size: 25px;
    padding: 0 15px;
    font-family: FontAwesome;
    content: '\f290';
    position: relative;
}

#cart .cart-body .cart-items {
    overflow-y: auto;
}

main {
    width: 100%;
    margin-top: 20px;
}

main section {
    width: 1024px;
    margin: 0 auto 0;
}

main > div.image {
    background-image: url('../images/flowers-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 10px 0;
}

main > div.individual {
    background-image: url('../images/individual-goods.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 10px 0;
}

main section img {
    width: 100%;
}

main hr{
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

main hr::after {
    background: #fff;
    display: inline-block;
    top: -17px;
    color: mediumpurple;
    font-size: 25px;
    padding: 0 15px;
    font-family: FontAwesome;
    position: relative;
}

main hr.flower::after {
    content: '\f299';
}

main hr.news::after {
    content: '\f1ea';
}

main hr.box::after {
    content: '\f01c';
}

main hr.money::after {
    content: '\f0d6';
}

main hr.percent::after {
    content: '\f295';
}

main hr.login::after {
    content: '\f007';
}

main hr.sub::after {
    content: '\f09e';
}

main hr.ask::after {
    content: '\f128';
}

main hr.doc::after {
    content: '\f15c';
}

main hr.bag::after {
    content: '\f290';
}

main hr.gift::after {
    content: "\f06b";
}

main .bullets h4 {
    margin-bottom: 40px;
}

.form-card {
    margin: 20px 0;
}

.form-card h4 {
    margin-bottom: 10px;
}

.social-auth {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.social-auth:hover {

}

.photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.photo .layout {
    visibility: hidden;
   /*background: rgba(0, 0, 0, 0.3);*/
    width: 100%;
    height: 100%;
    line-height: 250px;
    color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 5px;
}

.photo.__small {

    height: 150px;

}

.photo.__small .layout {

    line-height: 150px;

}

.photo.photo-long {
    height: 520px;
}

.photo.photo-long .layout {
    line-height: 520px !important;
}

.photo.photo-small {
    height: 125px;
}

.photo.photo-small .layout {
    line-height: 125px !important;
}

.photo:hover .layout {
    visibility: visible;
}

.photo .layout p {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    margin: 0;
}

.photo .layout p span {

    padding-left: 5px;

}

.photo .layout p i {

    font-size: 24px;

}

.photo .title {
    /*display: inline-block;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*margin-top: 210px;*/
    /*padding: 10px;*/
    bottom: 20px;
    left: 0;
    width: 100%;
    position: absolute;
}

.photo .title span {

    background: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;

}

.photo img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.price {
    font-size: 20px;
    color: mediumpurple;
}

.subscription {
    width: 100%;
    padding: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.subscription .title {
    font-size: 20px;
}

.subscription .desc {
    font-size: 13px;
    margin: 20px 0;
}

.subscription .status {

}

.subscription .status.paid {
    color: mediumpurple;
    font-style: italic;
}

.subscription .status.not-paid {

}

main .pagination span, main .pagination a {
    font-size: 17px;
}

main .pagination li.disabled span, main .pagination li.disabled span:hover,
main .pagination li.active span, main .pagination li a {
    background-color: #eee;
    border: none;
    color: #000;
}

main .pagination li.active span, main .pagination li.active span:hover,
main .pagination li a:hover {
    background: mediumpurple;
    color: #fff;
}

main div.inline {
    display: inline-block;
}

main article img {
    width: 100%;
}

main div.bg {
    background: #f0f0f0;
    width: 100%;
    padding: 20px 0;
}

main a.good {
    display: block;
    color: #000;
    font-size: 21px;
    text-align: center;
}

main .stock {
    font-size: 20px;
}

main .stock span {
    font-size: 30px;
}

main .cart {
    width: 100%;
}

main .cart td, main .cart th {
    padding: 5px;
}

main .color {
    display: inline-block;
    padding: 8px;
    outline: 1px solid #c0c0c0;
}

main .color.color-selected {
    padding: 6px;
    border: 2px solid #fff;
}

main .nav-pills a {
    color: #000;
}

.popup {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
}

.popup section {
    background: #fff;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 30px auto 0;
}

.popup .scroll-box {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup .set:hover {
    box-shadow: inset 0 0 3px #c0c0c0;
    cursor: pointer;
}

.popup .set.set-selected {
    box-shadow: inset 0 0 3px #d9534f;
}

.color {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    outline: 1px solid #c0c0c0;
    cursor: pointer;
}

.color.color-selected {
    padding: 7px;
    border: 3px solid #fff;
    outline: 1px solid #c0c0c0;
}

.discounts {
    font-size: 16px;
    border: 1px solid #e0e0e0;
}

.discounts th, .discounts td {
    padding: 10px 20px !important;
}

.discounts thead {
    background: #f0f0f0;
}

.discounts tfoot {
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background: #f7f7f7;
    width: 100%;
    padding: 15px 0;
}

footer > section {
    width: 1024px;
    margin: 0 auto 0;
}

footer h4 {
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 2px 0;
}

.product-description {
    font-size: 18px;
}
div.product-table {
    margin-top: 15px;
}

.product-image {
    margin: 25px 0;
}

.breadcrumbs {
    padding: 0;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.breadcrumbs li {

    display: inline-block;

}

.breadcrumbs li:after {

    content: '/';

}

.breadcrumbs li:last-child:after {

    content: '';

}

.elastislide-wrapper  {
    box-shadow: none !important;
}

.elastislide-wrapper nav  {
    position: absolute !important;
    top: 44px !important;
}

.product-image-wrapper .photo {
    min-height: 500px;
}

.product-image-wrapper .photo .layout {
    line-height: 500px;
}

.mobile-cart {
    display: none !important;
}

.col-xs-6 h4, .col-sm-6 h4 {
    height: 39px;
    overflow: hidden;
}

@media screen and (max-width: 767px) {

    .col-xs-6 h4, .col-sm-6 h4 {
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        max-height: 48px;
        overflow: hidden;
    }

    .header-menu ul {
        margin: 0;
    }
    .mobile-cart {
        display: inline-block !important;
    }
    .mobile-hidden {
        display: none !important;
    }
    .card-qty a, .card-qty button {
        padding: 7px !important;
        width: 33%;
        margin: 0 !important;
        font-size: 10px !important;
        line-height: 1 !important;
    }

}

@media screen and (max-width: 540px) {

    .product-image-wrapper .photo {
        min-height:  inherit !important;
        height: 250px;
        line-height: 250px;
    }

    .product-image-wrapper .photo .layout {
        line-height: inherit !important;
    }

    .product-layout {
        padding: 0 !important;
    }

    .product-layout .product-image-wrapper {
        padding: 0 !important;
    }

    .product-layout .product-info {
        padding: 0 !important;
    }

    .btn-group-vertical {
        padding: 0 !important;
        width: 100%;
    }

    .btn-group-vertical .btn {
        font-size: 10px;
        padding: 5px !important;
    }
}

.header-menu a:not([href]) {
    color: #9370db;
}

a.purple {
    color: #9370db;
}

a.purple:hover {
    color: black;
}

a:focus, a:hover {
    text-decoration: none;
}

.product-info .btn-group-vertical {

    display: block;

}

.product-info .btn-group-vertical button, .product-info .btn-group-vertical a {

    font-size: 16px;
    line-height: 24px;

}

.product-info .description {
    text-align: justify;
}

.product-info h1 {
    font-size: 24px;
}

.elastislide-list img {
    max-height: 100px;
    width: auto;
}

.body {

    overflow-x: hidden !important;

}

.slick .slick-slide:focus {
    outline: none;
}

.slick .slick-arrow[data-direction="next"] {

    right: -40px;

    left: auto;

}

.slick .slick-arrow {

    border-radius: 100%;

    border: none;

    font-size: 18px;

    line-height: 36px;

    text-align: center;

    width: 36px;

    height: 36px;

    position: absolute;

    z-index: 10;

    top: calc(50% - 18px);

    left: -40px;

    right: auto;

    background-color: #9370db;

    color: white;

}

.slick .slick-arrow:focus {

    outline: none;

}

.slick button.slick-arrow:hover {

    color: #4b3970;

}

.slick ul.slick-dots {

    display: block;

    width: 100%;

    text-align: center;

    list-style: none;

    margin: 0;

    padding: 0;

    line-height: 35px;

}

.slick ul.slick-dots li {

    display: inline-block;

    margin: 5px;

    cursor: pointer;

    font-size: 20px;

    position: relative;

}

.slick ul.slick-dots li[aria-hidden="false"] i::before {

    content: "\f05d" !important;

}

.slick ul.slick-dots li[aria-hidden="true"]:hover i::before {

    content: "\f05d" !important;

}

.slick ul.slick-dots li[aria-hidden="false"] {

    color: #9370db;

}

ul.global-price-filter {

    display: block;

    list-style: none;

    font-size: 18px;

    padding: 0;

    margin: 5px 0 0 0;

    text-align: right;

}

ul.global-price-filter:after {

    content: '';

    display: block;

    clear: both;

}

ul.global-price-filter li.global-search {

    border: 1px solid #9370db;

    padding: 5px;

    border-radius: 5px;

    float: right;

    margin-left: 5px;

    margin-bottom: 5px;

    text-align: center;

}

ul.global-price-filter li.global-search[data-active="true"] {

    background-color: #9370db;

}

ul.global-price-filter li.global-search[data-active="true"] * {

    color: white;

}

.filters {

    font-size: 14px;

    float: right;

    padding: 0;

    height: 30px;

}

.filters form, .filters ul {

    height: inherit;

}

.filters ul {

    padding: 0;

    list-style: none;

    margin: 0;

    font-size: 18px;

}

.filters ul li {

    display: inline-block;

}

.filters ul li:first-child {

    margin: 0 10px;

}

.filters ul li a {

    color: #9370db;

    cursor: pointer;

}

.filters ul li a[data-active="false"] {

    color: black;

}

.filters-count {

    float: left;

    padding: 0;

}

.see-also a {

    font-size: 18px;

    font-weight: bold;

}


/*presents*/
.gifts div.selector-list ul {

    list-style: none;

    padding-left: 8px;

    padding-right: 8px;

}

.gifts div.selector-list ul li {

    background-size: cover;

    background-repeat: no-repeat;

    display: block;

    border: 3px solid #9370db;

    text-align: center;

    height: 250px;

    cursor: pointer;

    position: relative;

    line-height: 250px;

    margin: 5px;

    padding: 0;

    width: calc(25% - 10px);

}

.gifts div.selector-list ul li img {
    vertical-align: inherit;
}
/*.gifts div.selector-list ul li::after {*/

    /*display: none;*/

    /*position: absolute;*/

    /*top: auto;*/

    /*bottom: -8px;*/

    /*width: 100%;*/

    /*font-size: 24px;*/

    /*height: 7px;*/

    /*left: 0 !important;*/

    /*line-height: 7px;*/

    /*color: #9370db;*/

    /*font-family: FontAwesome;*/

    /*content: "\f0d7";*/

/*}*/

.gifts .gifts-wrapper {

    position: relative;

    padding: 0;

}

.gifts-wrapper .text-muted {

    margin-left: 15px;
    margin-right: 15px;

}

.gifts-wrapper [data-active="false"] {

    display: none;

}

.gifts-wrapper [data-active="true"] {

    display: block;

}

.gifts div.selector-list ul li a {

    position: absolute;

    display: block;

    /*padding: 3px 0;*/

    /*height: 100%;*/

    /*line-height: 1.75;*/

    /*overflow: hidden;*/

    color: #9370db;

    left: 0;

}

.gifts div.selector-list ul li a p {

    margin: 0;

}

.gifts div.selector-list ul li a:not(.show-category) {

    top: 0;

    line-height: 1;

    height: 197px;

    display: table;

    font-size: 16px;

    font-weight: bold;

    width: 100%;

    color: #4b3970;

}

.gifts div.selector-list ul li a:not(.show-category) p {

    display: none;

    vertical-align: middle;

    padding: 0 5px;

    background-color: rgba(234, 234, 234, 0.5);

}

.gifts div.selector-list ul li a.show-category {

    height: 47px;

    line-height: 1;

    display: table;

    width: calc(100% + 2px);

    background-color: #9370db;

    font-weight: bold;

    color: white;

    bottom: 0;

}

.gifts div.selector-list ul li a.show-category p {

    display: table-cell;

    vertical-align: middle;

}

.gifts .filters-block {

    padding-left: 12px;

    padding-right: 12px;

}

.gifts .filters-block .filter-item {

    padding: 0 10px 0 0.251%;

    height: 30px;

    margin: 15px 0;

}

.gifts .filters-block .filter-item:last-child {

    padding: 0 0.251% 0 10px;

}

.gifts .filters-block .filter-item select {

    border: 1px solid #9370db;

    border-radius: 0;

    font-size: 16px;

}

.gifts .selector-list ul li[data-active="true"] {
    border-color: #4b3970;
}

.gifts .selector-list ul li[data-active="true"] a.show-category {

    background-color: #4b3970;

    color: white;

}

.gifts .selector-list ul li[data-active="true"] a {
    color: #4b3970;
}

/*.gifts .selector-list ul li[data-active="true"]::after {*/
    /*color: #4b3970;*/
    /*display: block !important;*/
/*}*/

.gifts div.gifts-wrapper[data-loaded="true"] div[data-category] {

    opacity: 0.4;

}

.gifts div.gifts-wrapper::after {

    display: none;

    position: absolute;

    color: #9370db;

    font-size: 38px;

    content: "\f021";

    font-family: FontAwesome;

    left: calc(50% - 16.5px);

    top: calc(50% - 25.5px);

}

.gifts div.gifts-wrapper[data-loaded="true"]::after {

    display: block;
    -webkit-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;

}

.breadcrumbs {

    margin-bottom: 10px;

}

.breadcrumbs a:not([href]) {

    color: #9370db;

}


.mainpage_menu .sidebar {

    padding: 0;

}

.mainpage_menu .sidebar ul.categories-list {

    list-style: none;

    margin: 10px 0;

    font-size: 14px;

    text-transform: uppercase;

    padding: 0 2.5px 20px 2.5px;

    text-align: center;

}

.mainpage_menu .sidebar ul.categories-list li:hover a
{

    color: #9370db;

}

.mainpage_menu .sidebar ul.categories-list li.title {

    font-weight: bold;

    font-size: 16px;

}

.mainpage_menu .sidebar ul.categories-list li {

    border-top: 1px solid rgba(147, 112, 219, 0.5);

    padding: 10px 0;

    position: relative;

}

.mainpage_menu .sidebar ul.categories-list li:last-child {

    border-bottom: 1px solid rgba(147, 112, 219, 0.5);

}

.mainpage_menu .sidebar ul.categories-list button {

    border-radius: 0;

}

.mainpage_menu .categories .category {

    border-bottom: 1px solid rgba(147, 112, 219, 0.5);

    padding-bottom: 20px;

    margin-bottom: 15px;

}

.mainpage_menu .categories .category:last-child {

    border: none;

    padding-bottom: 0;

}

.mainpage_menu .categories .category h2 {

    margin: 10px 0;

}

.mainpage_menu .sticky-wrapper {

    padding-top: 10px;

}

/*#mobile-categories {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 57px;
    left: 0;
    background-color: #9370db;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#mobile-categories a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

#mobile-categories .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 46px;
    margin: 0;
    padding: 0;
}

#mobile-categories ul {

    list-style: none;

    margin: 0;

    padding: 0;

    font-size: 14px;

}

#mobile-categories ul li {

    margin: 5px 10px;

    padding: 10px 0;

    border-top: 1px solid white;

    text-align: center;

}

#mobile-categories ul li:last-child {

    border-bottom: 1px solid white;

}

#mobile-categories ul li a {

    margin: 0;

    padding: 0;

    font-size: 14px;

}*/

.mainpage_menu .mobile-button {

    display: none;

}

.mainpage_menu .mobile-button button:focus,
.mainpage_menu .mobile-button button:active,
.mainpage_menu .mobile-button button:hover
{

    outline: none;

    background-color: white;

    border-color: #9370db !important;

    color: #9370db !important;

}

.mainpage_menu .mobile-button button {

    border-radius: 0;

}

.after-register-popup {

    padding: 0 15px;

    position: fixed;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    background-color: white;

    z-index: 1000;

}

.after-register-popup .title {

    text-align: center;

    margin: 20px 0 0;

    font-size: 24px;

    font-weight: bold;

    display: block;

}

.after-register-popup i.title small {

    font-size: 14px;

    color: grey;

    font-weight: normal;

}

.after-register-popup div.close-btn a {

    margin: 5px 0 0 0;

    line-height: 1;

    font-size: 52px;

}

.after-register-popup div.footer {

    position: absolute;

    bottom: 0;

    top: auto;

    left: 0;

    width: 100%;

    background-color: rgb(232, 234, 237);

    padding: 10px 0;

}