@media (min-width: 320px) and (max-width: 767px) {

    .main-section h1.main-h1 {

        top: -46px;

        text-align: center;

    }

    .main-section {

        margin-top: 20px;

    }

    .filters {

        float: none;

    }

    .filters span {

        font-size: 14px;

    }

    .filters ul li a {

        padding: 0 4px;

        font-size: 16px;

    }

    .filters-count {

        float: none;

        text-align: right;

        width: 100%;

    }

    .slick .slick-slide {

        padding: 0 5px !important;

    }

    .slick ul.slick-dots li[aria-hidden="true"]:hover span.check-mark {

        display: none;

    }

    .container {
        width: 100%;
    }

    #notifications {
        width: 100%;
        bottom: 0 !important;
        left: 0;
    }

    #notifications .notify {
        margin-bottom: 0;
    }

    header > div {
        width: 100%;
        padding: 10px 20px;
    }

    header .row p:first-child {
        margin-top: 0;
    }

    header .info {
        text-align: right;
    }

    nav {
        padding-left: 20px !important;
    }

    nav .navbar-brand {
        height: 56px;
        line-height: 56px;
        text-transform: none !important;
        font-size: 15px;
        padding: 0;
    }

    nav ul.float-right {
        float: none;
    }

    nav ul li {
        display: block;
        padding: 5px 0;
    }

    nav .dropdown-menu {
        width: 100% !important;
    }

    nav .dropdown-menu a {
        font-size: 13px;
        white-space: normal;
    }

    main section {
        width: 100%;
        padding: 10px 20px;
    }

    .photo .layout .btn {
        display: none;
    }

    footer > section {
        width: 100%;
        padding: 10px 20px;
    }

    .btn-mobile, .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-text-center {
        text-align: center;
    }

    .photo {
        height:  150px;
    }

    .photo .layout {
        visibility: visible;
        line-height: 150px;
        padding: 0;
    }

    .photo .layout p {
        padding: 10px 20px;
        font-size: 12px;
        vertical-align: bottom;
        width: 100%;
        border-radius: 0;
    }

    .photo .layout p i {

        font-size: 14px;

    }

    .photo .title, .photo .title span {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .gifts div.selector-list ul {

        padding: 0 !important;

    }

    .gifts .filters-block {

        padding: 0 !important;

    }

    .gifts div.selector-list ul li {

        background-size: contain;

        width: calc(50% - 10px);

        height: 145px;

    }

    .gifts div.selector-list ul li a:not(.show-category) {

        height: 97px;

        line-height: 1;

        font-size: 14px;

    }

    .gifts div.selector-list ul li a:not(.show-category) p {

        display: table-cell;

    }

    .gifts div.selector-list ul li a.show-category {

        height: 42px;

        font-size: 12px;

    }

    .gifts .filters-block .filter-item  {

        padding: 0 !important;

        margin: 0 5px;

        width: calc(50% - 10px);

    }

    .gifts .filters-block {

        margin-bottom: 10px;

    }

    .gifts-list .col-md-4.col-sm-6.col-xs-6 {

        padding: 0 5px !important;

    }

    .items-list .item {

        padding: 0 5px !important;

    }

    .gifts-wrapper .text-muted {

        margin-left: 5px;
        margin-right: 5px;

    }

    .mainpage_menu .categories .category h2 {

        font-size: 20px;

        font-weight: bold;

    }

    .mainpage_menu .categories .category h2 hr::after {

        font-size: 20px;

        top: -10px;

    }

    .mainpage_menu .sidebar {

        display: none;

    }

    .mainpage_menu .mobile-button {

        display: block;

    }

/*    #mobile-categories {

        display: block;

    }*/

    ul.global-price-filter {

        font-size: 12px;

    }

    ul.global-price-filter li.global-search {

        margin-left: 0;

        float: none;

        display: inline-block;

        width: calc(25% - 2.5px);

        padding: 3px;

    }

    .mobile-padding {

        padding-left: 5px;

        padding-right: 5px;

    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .mainpage_menu .sidebar {

        display: none;

    }

    .mainpage_menu .mobile-button {

        display: block;

    }

/*    #mobile-categories {

        display: block;

    }*/


}

@media (min-width: 768px) and (max-width: 1071px) {

    .photo .layout {

        visibility: visible;
        padding: 0;

    }

    .photo .layout p {

        padding: 10px 20px;
        font-size: 13px;
        vertical-align: bottom;
        width: 100%;
        border-radius: 0;

    }

    .photo .layout p i {

        font-size: 16px;

    }

    .main-section h1.main-h1 {

        padding: 0 20px;

    }

    .filters {

        width: 60%;

        text-align: right;

    }

    .filters-count {

        text-align: left;

        width: 40%;

    }

    #notifications {
        width: 100%;
        bottom: 0;
        left: 0;
    }

    section, header > div {
        width: 100% !important;
        padding: 0 20px;
    }

    header {
        margin-top: 70px;
    }

    .container {
        width: 100%;
    }

    nav {
        padding: 0 10px !important;
    }

    nav ul li:first-child {
        padding-left: 10px;
    }

    nav ul.float-right li:last-child {
        padding-right: 10px;
    }

}

@media (min-width: 1072px) {

    .gifts div.selector-list ul li:hover {

        border-color: #4b3970;

    }

    .gifts div.selector-list ul li:hover::after, .gifts div.selector-list ul li:hover a {

        color: #4b3970;

        display: table;

    }

    .gifts div.selector-list ul li a:not(.show-category):hover p {

        display: table-cell;

    }

    .gifts div.selector-list ul li:hover a.show-category {

        background-color: #4b3970;

        color: white;

    }

}