@media (min-width: 320px) and (max-width: 767px) {

    div.nav-mobile-buttons {

        display: block;

        position: fixed;

        top: 0;

        padding: 0 10px;

        z-index: 1000;

        background: white;

        box-shadow: 0 0 5px rgba(0,0,0,.3);

        transition: background .2s ease-in-out;

    }

    div.nav-mobile-buttons a, div.nav-mobile-buttons button {

        margin: 5px 0;

    }

    .main-section h1.main-h1 {

        top: -46px;

        text-align: center;

    }

    .main-section {

        margin-top: 20px;

    }

    .filters {

        float: none;

    }

    .filters span {

        font-size: 14px;

    }

    .filters ul li a {

        padding: 0 4px;

        font-size: 16px;

    }

    .filters-count {

        float: none;

        text-align: right;

        width: 100%;

    }

    .slick .slick-slide {

        padding: 0 5px !important;

    }

    .slick ul.slick-dots li[aria-hidden="true"]:hover span.check-mark {

        display: none;

    }

    .container {
        width: 100%;
    }

    #notifications {
        width: 100%;
        bottom: 0 !important;
        left: 0;
    }

    #notifications .notify {
        margin-bottom: 0;
    }

    header > div {
        width: 100%;
        padding: 10px 20px;
    }

    header .row p:first-child {
        margin-top: 0;
    }

    header .info {
        text-align: right;
    }

    nav {
        padding-left: 20px !important;
    }

    nav.nav {

        position: static;

        z-index: 1000;

    }

    div#nav-collapse {

        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        bottom: 0;
        background-color: white;
        -webkit-transform: translate(-250px, 0px);
        -moz-transform: translate(-250px, 0px);
        -ms-transform: translate(-250px, 0px);
        -o-transform: translate(-250px, 0px);
        transform: translate(-250px, 0px);
        z-index: 1001;
        padding: 6px 0;
        overflow-y: auto;
        box-shadow: 0 0 5px rgba(0,0,0,.3);

    }

    div#nav-collapse li.mobile-menu-title {

        display: block;

        font-size: 18px;

        text-align: left;

        color: #9370db;

        padding: 7px 0 13px 13px;

    }

    div#nav-collapse li.mobile-menu-title a {

        padding: 0;

    }

    div#nav-collapse li.mobile-menu-title i {

        position: absolute;

        right: 15px;

        top: 13px;

        font-size: 24px;

        color: black;

    }

    nav .navbar-brand {
        height: 56px;
        line-height: 56px;
        text-transform: none !important;
        font-size: 15px;
        padding: 0;
    }

    nav .navbar-toggle {

        padding: 5px 10px 5px 0px;

    }

    nav div#nav-collapse ul {
        float: none;
        box-shadow: none;
        margin: 0;
        text-align: right;
    }

    nav div#nav-collapse ul:first-child {

        border-bottom: 1px solid #eee;

    }

    nav div#nav-collapse ul li {
        display: block;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        padding-right: 25px;
    }

    nav div#nav-collapse ul li.dropdown a.dropdown-toggle::after {

        font-family: FontAwesome;
        content: "\f0d7";

    }

    nav div#nav-collapse ul li.dropdown a.dropdown-toggle {

        color: black;

    }

    nav div#nav-collapse ul li.dropdown a.dropdown-toggle[aria-expanded="true"]::after {

        content: "\f0da";

    }

    nav div#nav-collapse ul li:last-child {

        border-bottom: none;

    }

    nav div#nav-collapse .dropdown-menu {
        width: 100% !important;
        position: relative;
        border: none;
    }

    nav div#nav-collapse .dropdown-menu li {

        text-align: right;

        border: none;

        border-bottom: 1px solid #eee;

        padding-right: 5px;

    }

    nav div#nav-collapse li a {

        padding: 5px;

    }

    nav div#nav-collapse .dropdown-menu li a {

        padding: 4px 0;

    }

    nav div#nav-collapse .dropdown-menu li a:hover {

        background: transparent !important;

        color: #9370db;

    }

    nav div#nav-collapse .dropdown-menu li:last-child {

        border: none;

    }

    nav .dropdown-menu a {
        font-size: 13px;
        white-space: normal;
    }

    main section {
        width: 100%;
        padding: 10px 20px;
    }

    .photo .layout .btn {
        display: none;
    }

    footer > section {
        width: 100%;
        padding: 10px 20px;
    }

    .btn-mobile, .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-text-center {
        text-align: center;
    }

    .photo {
        height:  150px;
    }

    .photo .layout {
        visibility: visible;
        line-height: 150px;
        padding: 0;
    }

    .photo .layout p {
        padding: 10px 20px;
        font-size: 12px;
        vertical-align: bottom;
        width: 100%;
        border-radius: 0;
    }

    .photo .layout p i {

        font-size: 14px;

    }

    .photo .title, .photo .title span {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .gifts div.selector-list ul {

        padding: 0 !important;

    }

    .gifts .filters-block {

        padding: 0 !important;

    }

    .gifts div.selector-list ul li {

        background-size: contain;

        width: calc(50% - 10px);

        height: 145px;

    }

    .gifts div.selector-list ul li a:not(.show-category) {

        height: 97px;

        line-height: 1;

        font-size: 14px;

    }

    .gifts div.selector-list ul li a:not(.show-category) p {

        display: table-cell;

    }

    .gifts div.selector-list ul li a.show-category {

        height: 42px;

        font-size: 12px;

    }

    .gifts .filters-block .filter-item  {

        padding: 0 !important;

        margin: 0 5px;

        width: calc(50% - 10px);

    }

    .gifts .filters-block {

        margin-bottom: 10px;

    }

    .gifts-list .col-md-4.col-sm-6.col-xs-6 {

        padding: 0 5px !important;

    }

    .items-list .item {

        padding: 0 5px !important;

    }

    .gifts-wrapper .text-muted {

        margin-left: 5px;
        margin-right: 5px;

    }

    .mainpage_menu .categories .category h2 {

        font-size: 20px;

        font-weight: bold;

    }

    .mainpage_menu .categories .category h2 hr::after {

        font-size: 20px;

        top: -10px;

    }

    .mainpage_menu .sidebar {

        display: none;

    }
    .mainpage_menu .sidebar ul.categories-list {

        padding: 0 2.5px;

    }


    .mainpage_menu .mobile-button {

        display: block;

    }

/*    #mobile-categories {

        display: block;

    }*/

    ul.global-price-filter {

        font-size: 12px;

    }

    ul.global-price-filter li.global-search {

        margin-left: 0;

        float: none;

        display: inline-block;

        width: calc(25% - 2.5px);

        padding: 3px;

    }

    .mobile-padding {

        padding-left: 5px;

        padding-right: 5px;

    }

    .after-register-popup {
    
        overflow-y: auto;

        overflow-x: hidden;

        padding-top: 20px;
    
    }

    .after-register-popup div.footer {
    
        position: relative;

        margin: 20px -20px 0 -20px;

        width: calc(100% + 40px);
    
    }

    .after-register-popup p.title {

        font-size: 16px;

        margin: 10px 0 0;

    }


    .after-register-popup div.close-btn {

        position: absolute;

        right: 15px;

        top: 0;

    }

    /*order-make*/


    div#order-make div#order-collapse ul li a, div#order-make div#order-collapse ul li span {

        font-size: 14px;

    }

    div#order-make div#order-collapse div.order-result-info p {

        margin-bottom: 5px;

    }

    div#order-make h3 {

        font-size: 18px;

    }

    div#order-make div#order-collapse div.order-result-info {

        font-size: 14px;

    }

    div#order-make span.custom-popover {

        font-size: 16px;

    }

    .arrowtest-east {

        left: -10px;

        z-index: 1;

    }

    div#order-make ul.nav li a {

        z-index: 3;

    }

    div#order-make ul.nav li a {

        line-height: 94px;

    }

    div#order-make ul.nav li:nth-child(3) .arrowtest-east {

        left: -25px;

    }

    div#order-make ul.nav li:nth-child(2) a i {

        padding-left: 35px;

    }

    div#order-make ul.nav li:nth-child(1) a i {

        padding-left: 10px;

    }

    div#order-make ul.nav li:nth-child(3) a i {

        padding-left: 20px;

    }

    div#order-make ul.nav li a p {

        display: none;

    }

    div#basket {

        width: 100%;

    }

    div#basket div.modal-dialog div.modal-content {

        width: 100%;

    }

    div#basket div.modal-dialog div.modal-content div.modal-body {

        width: 100%;

    }

    div#basket div.modal-dialog div.modal-content div.modal-header {

        width: 100%;

    }

    div#basket div.modal-dialog div.modal-content div.modal-footer {

        width: 100%;

    }

    div#basket div.modal-dialog div.modal-content div.modal-body ul.basket-list li div.basket-item-info {

        height: auto !important;

    }

    div#basket div.modal-dialog div.modal-content ul.basket-list li div.basket-item-name button {

        font-size: 1.5em;

    }

    div#basket div.modal-dialog div.modal-content div.modal-body div.basket-item-count {

        position: relative !important;

    }

    div#basket div.modal-dialog div.modal-content div.modal-body div.basket-item-count div.input-group {

        width: 100%;

        float: none !important;

    }

    div#basket div.modal-dialog div.modal-content div.modal-body div.basket-item-count span.basket-item-price {

        float: none !important;

    }


    div#basket div.modal-dialog div.modal-content div.modal-body ul.basket-list {

        margin-right: 0;

    }
    
}

@media (min-width: 768px) and (max-width: 991px) {

    .mainpage_menu .sidebar {

        display: none;

    }

    .mainpage_menu .mobile-button {

        display: block;

    }

/*    #mobile-categories {

        display: block;

    }*/


}

@media (min-width: 768px) and (max-width: 1071px) {

    .photo .layout {

        visibility: visible;
        padding: 0;

    }

    .photo .layout p {

        padding: 10px 20px;
        font-size: 13px;
        vertical-align: bottom;
        width: 100%;
        border-radius: 0;

    }

    .photo .layout p i {

        font-size: 16px;

    }

    .main-section h1.main-h1 {

        padding: 0 20px;

    }

    .filters {

        width: 60%;

        text-align: right;

    }

    .filters-count {

        text-align: left;

        width: 40%;

    }

    #notifications {
        width: 100%;
        bottom: 0;
        left: 0;
    }

    section, header > div {
        width: 100% !important;
        padding: 0 20px;
    }

    header {
        margin-top: 70px;
    }

    .container {
        width: 100%;
    }

    nav {
        padding: 0 10px !important;
    }

    nav ul li:first-child {
        padding-left: 10px;
    }

    nav ul.float-right li:last-child {
        padding-right: 10px;
    }

}

@media (min-width: 1072px) {

    .gifts div.selector-list ul li:hover {

        border-color: #4b3970;

    }

    .gifts div.selector-list ul li:hover::after, .gifts div.selector-list ul li:hover a {

        color: #4b3970;

        display: table;

    }

    .gifts div.selector-list ul li a:not(.show-category):hover p {

        display: table-cell;

    }

    .gifts div.selector-list ul li:hover a.show-category {

        background-color: #4b3970;

        color: white;

    }

}
